      #container_img{
        background-image: url("../images/xport0.jpg");
        background-repeat:no-repeat;
        background-size: 100% 100%;
        position: relative;
        top: 0;
        margin: 0 auto;
        width: 100%;
        height:500px;
        transition: all 0.5s ease;
      }
      #container_img img{
        width: 100%;
        height: 100%;
      }
      .imgThumblr{
          position: absolute;
          top: 409px;
          cursor: pointer;
      } 
      .imgThumblr img{
        opacity: 0.5;
        border: 1px solid #ccc;
        width: 100px;
        height: 90px;

      }
      .imgThumblr img:hover{
        opacity: 1;
      }  
